* {
  margin: 0;
  padding: 0;
}

body {
    font-family: helvetica;
}


.link-referencia {
    background-color: rgb(240, 199, 16);
    color: #000;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin:20px;
  }
  
  .link-referencia:hover {
    text-decoration: underline;
    color: #fff;
  }
  .contenedor-principal {
      text-align:center;
      height: 100vh;
  }
  .contenedor-clases {
    height: 100vh;
    background: rgb(230, 215, 166);    
  }

  .lista-semanas {
    margin: 40px;
    padding: 40px;
    list-style: none;
  }

  h1 {
    font-size:3em;
    margin:20px;
  }

  h3 {
    font-size:3em;
    margin:20px;
  }

  p {
    margin:20px;
    padding: 20px;
  }

  .divisor {
    margin:20px;
    height: 4px;
    background: #000;
    border:none;
    border-radius: 12px;
  }

  .lista-semanas li {
    padding: 20PX;
  }

  .imagen-perfil {
    border-radius: 50%;
    border: 2px solid #000;
  }
  
  .btn-github {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    color: #000;
    text-decoration: none;
  }

  .imagen-programador {
    border-radius:12px;
    margin-top:40px;

  }
