*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Spartan",Arial, Helvetica, sans-serif ;

}
.container {
    display:flex;
    background-color: hsl(222,26%,31%); 
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.container-calc {
   
    min-width: 600px;
    max-width: 430px;
    margin: auto;
    /*border:solid;*/
    
}
.section-title {
    display: flex;
    justify-content: space-between;
}

.section-result {
    padding: 40px;
    background-color: hsl(244,36%,15%);
    text-align: end;
    margin-top: 20px;
    color:white;
    border-radius: 8px;

}

.section-button {
    background-color: hsl(244,36%,15%);
    margin-top: 20px;
    border-radius: 10px;
    padding:20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;

}

.section-result span {
    font-size: 3em;
    font-weight: bold;
}

/*.item {
    border:solid;
}*/

.item button {
    background-color: hsk(30,25%,89%);
    border: none;
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
    font-size:28px;
    font-weight: bold;
    color: hsl(233,31%,20%);
    border-radius: 12px;
    
    box-shadow: -1px 5px 0px -2px rgba(186,186,186,0.75);
-webkit-box-shadow: -1px 5px 0px -2px rgba(186,186,186,0.75);
-moz-box-shadow: -1px 5px 0px -2px rgba(186,186,186,0.75);
}

.btn-blue {
    background-color:  hsl(225,21%,49%) !important; 
    color: #fff !important;
    font-size: 16px !important;
}

.item1 {
    grid-column: 1/3;
}

.item2 {
    grid-column: 3/5;
}

.btn-block {
    width: 90% !important;
    margin: auto !important;
}

.btn-red {
    background-color: red;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    box-shadow: -1px 5px 0px -2px rgba(245, 165, 165, 0.75);
-webkit-box-shadow: -1px 5px 0px -2px rgba(247, 203, 203, 0.75);
-moz-box-shadow: -1px 5px 0px -2px rgba(250, 164, 164, 0.75);
}