* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*si usamos tablas esto no es lo ideal*/
    overflow-x:hidden;
}

.texto-animado {
    /*una animacion necesita un nombre  y un tiempo*/
    animation-name: texto-volador;
    animation-duration: 5s; 
    animation-iteration-count: 1;
    border: solid;
}

section::-webkit-scrollbar {
    display:none;
}

@keyframes texto-volador {
    from {
        margin-left: 100%;
        width: 300%;
        background-color: aqua;
        borde:none;        
    }

    to {
        margin-left: -100%;
        background-color: brown;
        color:white;
        borde:none;
    }

}

.image-animada {
    animation-name: image-resize;
    animation-duration: 10s;
    animation-iteration-count: 1;
    /*deja al final el tamaño que neceista*/
    width: 400px;
    height: 400px;
}

@keyframes image-resize {
    from {
        width: 20px;
        height: 20px;
    }
    to {
        width: 400px;
        height: 400px;
    }
}

.box-uno {
    height: 50px;
    width: 50px;
    background-color: red;
    animation-name: box-animation;
    animation-duration: 10s;
}

@keyframes box-animation {
    0% {
        background-color: black;
 
    }
    25% {
        background-color:orange;
    }
    50% {
        background-color: BLUE;

    }
    75% {
        background-color: yellow;

    }
    100% {
        background-color: green;

    }
}

.ball-uno {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 50%;

    animation-name: ball-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes ball-animation {
    from {
        transform: translatex(0px);
    }
    to {
        transform: translateY(-135px);
    }
}

/*animation-name: texto-animado-dos;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(144);
    animation-fill-mode: both;
    animation-direction: normal;
    animation-delay: 1s;*/

.lineas {
    text-align: center;
    width: 300px;
    margin:auto;
    font-size: 24px;
    white-space: nowrap;
    border-right: 10px solid black;
    transform: translateY(-50%);
    overflow: hidden;
}

 
.texto-animado-dos {
    animation: texto-animado-dos 5s  steps(144) 1s normal both,
    cursor 0.5s steps(50) infinite normal;
    animation-iteration-count: infinite;

}

@keyframes texto-animado-dos {
    from {
        width: 0;
    }
    to {
        width: 600px;
    }
}

@keyframes cursor {
    from {
        border-right-color: rgb(255,77,196);
    }
    to {
        border-right-color: transparent;
    }
}