body {
    font-family: Helvetica;
}

h1 {
    background-color:#000;
    color: red;
  }
h2 {
    background-color:#22e8dc;
    color:rgb(160,238,179);
}
p {
    <!--background-color:yellow;-->
    color:blue;    
}
a{
    background-color:yellowgreen;
    color:pink;
}

/* la forma correcta en la cual enlazamos 
un id en css es usando el #contenedor-uno */
/* un id se usa cuando se tiene  un estilo 
especifico para un solo elemento */
#contenedor-uno {
    background-color: #09a;
 }
 /*reto al contenedor-dos poner un fondo amarillo*/
 #contenedor-dos {
 background-color: yellow;
 }
 /*para compartir estilos debemos de usar clases 'class'*/
 /*Para acceder aun elemento que contiene un class usamos el . */
 .contenedor-principal {
     background: violet;
     padding: 30px;
 }
 .btn-ingresar {
     background: turquoise;
     color: #ffff;
     padding: 10px;
     border-radius:8px;
     border:none;
 }
 /*sepan que cuando se usan clases se pueden compartir estilos*/
 /*.btn-registro {
     background:indianred;
     color:#ffff;
     padding: 15px;
     border-radius: 8px;
  }*/

  .btn-registro {
      font-size: 25px;
  }
  .contenedor-form {
      border: 3px solid rgb(160,238,179);
      border-radius:8px;

  }
  .contenedor-interno-form {
      padding-left: 20px;
      /*lo hace de forma horizontal*/
      text-align:center;
  }
  .titulo-form {
      color:royalblue;
      background: #fff;
  }
  .input-form {
      padding: 15px;
      border-radius: 8px;
      border:1px #000 solid;
      width:400px;

  }
  /*reto del profe
  quiero que el input mida 100px */
  .input-codigo {
      width:100px;
  }

  .input-number {
    width:265px;
    /*reto darle estilo al boton*/
  }

  .button-form {
      background:blueviolet;
      color: #fff;
      padding: 8px;
      border-radius: 8px;
    
  }
  /*PSEUDOCLASSE*/
  /*Los elementos tienen propieddaes internas, por ejemplo el hover*/
  /*hover es la propiedad que detecta cuando el mouse esta sobre el
  elemento, estos estilos se aplicaran solo si el mouse esta sobre
  este elemento */
  .btn-ingresar:hover {
      background-color: red;
      /*quita 3el subrayado*/
      text-decoration: none;
      width: 800px;
      padding: 100px;

  }

  /*los elementos como el tienen pseudoclase como
  link
  visited
  hover
  active */
  /*estas pseudoclases aplican para todos los html*/

  /*div:hover {
      background: red;
  }*/

  .contenedor-interno-form  h1 {
      border: 2px solid rgb(138, 31, 31);
  }

  /*first-child */
  /*busca el primer elemento*/
  h1:first-child {
      color:purple;      
  }

  input:first-of-type {
      color:red;
      
  }
  h2:nth-child(0) {
      color:#000;

  }

  /*
  .contenedor-interno-form p:nth-child(0) {
    color:#000;
  }*/
  


